.ww{
    background-color: blue;
}

.www{
    background-color: rgb(43, 107, 226);
}

.wwww{
    background-color: chartreuse;
}

.wwwww{
    background-color: brown;
}

.d{
background-color: darkorange;
}

.ddd{
    background-color: violet;
}

.dddd{
 background-color: darkcyan ;
}




body{
background-color: blueviolet;
}
